:root {
	--primary: #f87060;
	--dark: #102542;
	--white: #f4faff;
}

body {
	padding-inline: 5%;
	font-family: "Poppins", serif;
	color: var(--dark);
	font-weight: 300;
}

/* Navbar */
.navbar {
	background-color: white;
	padding: 30px 0;
}

#remove-pad {
	padding: 0 !important;
}
#navSize {
	width: 30%;
}

.fw-link {
	letter-spacing: 1px;
	font-weight: 500;
}

.active {
	font-weight: 700;
}
/* End Navbar */

/* Content */
.headCon {
	margin-top: 50px;
}
.hc-small {
	margin-bottom: 20px;
}

.hc-hero {
	font-size: 62px;
	text-transform: capitalize;
}

@media only screen and (max-width: 650px) {
	.hc-hero {
		font-size: 52px;
	}
}

@media only screen and (max-width: 540px) {
	.hc-hero {
		font-size: 38px;
	}
}
/* End Content */
/* UI */
.btn-primary {
	color: var(--primary);
	background-color: white;
	border-color: var(--primary) !important;
}

.btn-primary:hover {
	color: var(--white) !important;
	background-color: var(--primary) !important;
}
/* End UI*/

/* Alumni */
.alumni {
	margin: 60px 0;
}

.alumniTitle{
	text-align: center;
	font-weight: 700;
	margin: 50px 0 40px ;
}

.cardPhoto {
	text-align: center;
}

.listAlumni {
	list-style: none;
	padding: 0;
}
.imgAlumni {
	width: 150px;
	height: 150px;
	object-fit: cover;
}
.alumniName {
	font-weight: 700;
}
/* End Alumni */

/* Footer */
.footer {
	text-align: center;
}
/* End Footer */
